<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Query" value="select * from Win32_NetworkAdapter where name = &quot;{0}&quot;"/>
    <add key="DefaultGateway" value="192.168.0.1"/>
    <add key="Ssid" value="telenet-BFE41"/>
    <add key="PacketsPerTest" value="10"/>
    <add key="TimeoutWaitMs" value="2500"/>
    <add key="AcceptablePacketLossPercentage" value="35"/>
    <add key="AcceptableLatencyMs" value="2000"/>
    <add key="ReconnectionAttemptsPerSecond" value="3"/>
  </appSettings>
</configuration>